<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www.(.*)$
  RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

  RewriteBase /

  RewriteCond %{REQUEST_URI} !^public
  RewriteCond %{REQUEST_URI} !^.well-known
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>